@using SeeSharpWebshop.Controllers
@model List<SeeSharpWebshop.Project.Core.Models.CartModel>
@{
    ViewData["Title"] = "Cart";
}

<h2>Cart</h2>

@foreach (SeeSharpWebshop.Project.Core.Models.CartModel item in Model)
{
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon">@item.Name</div>
            <input data-product="@item.ProductID" type="number" value="@item.Amount" min="0" class="form-control amount" />
            <div class="input-group-addon">@(item.Price * item.Amount) kr</div>
            <br />
        </div>

    </div>
}

@if (Model.Select(item => item.Price * item.Amount).Sum() > 0)
{
    <div class="panel panel-default pull-right"><div class="panel-body">@Model.Select(item => item.Price * item.Amount).Sum() kr</div></div>

<br />
<small><b>*if a change has been made, update to get new price.</b></small>
}
<br />
<a asp-controller="Home" asp-action="ClearCart" class="text-danger">Clear cart <span class="glyphicon glyphicon-trash"></span></a>

<a asp-controller="Home" asp-action="CompletePurchase" class="btn btn-success">Complete <span class="glyphicon glyphicon-check"></span></a>